<!-- Google Tag Manager (noscript)-->
<noscript>
  <iframe
    src="//www.googletagmanager.com/ns.html?id=GTM-WKV3GT5"
    height="0"
    width="0"
    style="display: none; visibility: hidden"
  ></iframe>
</noscript>
<!-- Page loading spinner-->
<div class="page-loading active">
  <div class="page-loading-inner">
    <div class="page-spinner"></div>
    <span>Loading...</span>
  </div>
</div>

<!-- Page wrapper-->
<main class="page-wrapper">
  <!-- Navbar. Remove 'fixed-top' class to make the navigation bar scrollable with the page-->
  <header class="navbar navbar-expand-lg fixed-top bg-light">
    <div class="container">


      <button
        class="navbar-toggler ms-sm-3"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <nav class="collapse navbar-collapse" id="navbarNav">
    
      </nav>
    </div>
  </header>
  <!-- Page content-->
  <div class="overflow-hidden">
    <div class="container pt-5 pb-sm-3 mt-5 mb-2 mb-md-3 mb-lg-4 mb-xxl-5">




<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">


    <li class="nav-heading">Sayfalar</li>

    <li class="nav-item">
      <a class="nav-link collapsed" href='/duyuru-ekle'>
        <i class="bi bi-card-list"></i>
        <span>Duyuru Ekle</span>
      </a>
    </li><!-- End duyuru-ekle Page Nav -->


    <ul
    class="navbar-nav navbar-nav-scroll me-auto"
    style="--ar-scroll-height: 520px"
  >
    <li class="nav-item dropdown">

    </li>

   
    <% if(yonetici) {%>

      <li class="nav-item">
        <a class="nav-link" href="/cikis">Çıkış Yap</a>
      </li>
  
    <% }else { %>
      <li class="nav-item">
        <a class="nav-link" href="/giris">Giriş Yap</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/kayit">Kayıt Ol</a>
      </li>
      <% } %>



  </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">



  <section class="section dashboard">
    <div class="row">


      <!-- Right side columns -->
      <div class="col-lg-4">

      </div><!-- End Right side columns -->

    </div>